h1, h2, h3, .questDiv, .time{
	text-align: center;
	font-weight: bold;
	color: #A3AAB5;
}
h1 {
	font-family: 'Finger Paint', cursive;
	font-size: 50px;

}
.questDiv, .time {
	font-size: 20px;
	margin-top: 25px

}
body {
	background-image: url('../images/background.jpg');
	background-size: 100vw 100vh;
}
.container{
	display: block;
	background-color: #1A325C;
	margin-top: 50px;
	min-height: 650px;
}
#frog{
	width: 700px;
}
.questDiv {
	text-align: center;
}
.answerButtons{
	width: 200px;
	font-size: 20px;
	margin: 20px;
}
.ansDiv{
	text-align: center;
	margin-top: 20px;
}
#yes{
	color: #1A325C;
	text-align: center;
	font-size: 20px;
}
#q5Answer{
	font-size: 30px;
}
#yes:hover   {color:green; background-color:transparent; text-decoration:none}
#q5Answer:hover   {color:green; background-color:transparent; text-decoration:none}
#q6Answer:hover   {color:green; background-color:transparent; text-decoration:none}

#q4Answer, #q4Hillary, #q4Trump{
	margin: 20px;
}